mat-card {
  text-align: center;
  font-size: larger;
  margin-bottom: 50px;
}

button {

  mat-icon {
    padding-bottom: 5px;
  }
}

.contacts-table {
  margin-top: 20px;

  table {
    width: 100%;
  }

}
