<mat-card>
  <p>{{ 'contactsPageComponent_title' | translate }}</p>
</mat-card>

<button mat-raised-button (click)="openDialog()">
  <mat-icon svgIcon="add"></mat-icon>
  <span>{{ 'contactsPageComponent_newContact' | translate }}</span>
</button>

<div class="mat-elevation-z8 contacts-table">
  <mat-progress-bar mode="query" *ngIf="loading"></mat-progress-bar>
  <table mat-table [dataSource]="contacts">

    <!-- Number Column -->
    <ng-container matColumnDef="number">
      <th mat-header-cell *matHeaderCellDef>  </th>
      <td mat-cell *matCellDef="let i = index">
        {{this.paginator.pageIndex == 0 ? i + 1 : 1 + i + this.paginator.pageIndex * this.paginator.pageSize}}
      </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>  {{ 'contactsPageComponent_name' | translate }} </th>
      <td mat-cell *matCellDef="let element"> {{element.lastName + ' ' +  element.firstName}} </td>
    </ng-container>

    <!-- Company Column -->
    <ng-container matColumnDef="company">
      <th mat-header-cell *matHeaderCellDef> {{ 'contactsPageComponent_company' | translate }} </th>
      <td mat-cell *matCellDef="let element"> {{element.companyName}} </td>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> {{ 'contactsPageComponent_email' | translate }} </th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>

    <!-- Phone Number Column -->
    <ng-container matColumnDef="phoneNumber">
      <th mat-header-cell *matHeaderCellDef> {{ 'contactsPageComponent_phoneNumber' | translate }} </th>
      <td mat-cell *matCellDef="let element"> {{element.phoneNumber ? element.phoneNumber : 'contactsPageComponent_missingValue' | translate}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                 [pageSize]="this.page.offset"
                 showFirstLastButtons (page)="pageChange($event)">
  </mat-paginator>
</div>
